
#set($require = ["bootstrap", "header", "footer"])

#define ($document)
	## proccess body before call any component
	## it's allow override from inside to outside
	#set($body = "$body")
	
	<!doctype html>
	<html>
		<head>
			<meta charset="$config.charset">
			<link rel="stylesheet" href="/style.css?load=$object.implode(',', $components)">
		</head>
		<body>
			#render("header" {} false)
			<div class="container">
				$body
			</div>
			#render("footer" {} false)
			<script src="/script.js?load=$object.implode(',', $components)"></script>
			<script>render();</script>
		</body>
	</html>
#end