
#define ($load--css)
	
	$response.setContentType('text/css')
	
	#foreach ($item in $params.load.split(','))
		
		#if ($include.exists("$system.corepath/components/$item/style.css"))
			#parse("components/$item/style.css")
		#end
		
	#end
	
#end